# Empeche le listing des directories
Options -Indexes

ErrorDocument 400 http://cr-devtux16.leschartreux.com/~v.durand/includes/ErrorDocuments/404.php
ErrorDocument 401 http://cr-devtux16.leschartreux.com/~v.durand/includes/ErrorDocuments/404.php
ErrorDocument 403 http://cr-devtux16.leschartreux.com/~v.durand/includes/ErrorDocuments/404.php
ErrorDocument 404 http://cr-devtux16.leschartreux.com/~v.durand/includes/ErrorDocuments/404.php
ErrorDocument 500 http://cr-devtux16.leschartreux.com/~v.durand/includes/ErrorDocuments/404.php


# Empeche l'acces à l'api
RedirectMatch 404 ^/api/.*?$


# Caching

# cache images and flash content for one month
#<FilesMatch ".(flv|gif|jpg|jpeg|png|ico|swf)$">
#	Header set Cache-Control "max-age=2592000"
#</FilesMatch>
# cache text, css, and javascript files for one week
#<FilesMatch ".(js|css|pdf|txt)$">
#	Header set Cache-Control "max-age=604800"
#</FilesMatch>





# RewriteEngine on

# RewriteRule ^(.+)\.php$ /$1 [R,L]
# RewriteCond %{REQUEST_FILENAME}.php -f
# RewriteRule ^(.*?)/?$ /$1.php [NC,END]
